.colorPicker {
  .palette-strip {
    flex: 1;
    display: flex;
    height: 2vh;
    position: relative;

    .palette-cell {
      flex: 1;
      cursor: pointer;
    }

    .palette-cursor {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2.8vh;
      height: 2.8vh;
      background-image: url('/assets/images/menu/circle-target.png');
      background-size: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
      transition: left 0.05s ease-out;
    }
  }

  .colorSlider {
    position: relative;
    display: flex;
    gap: 0.25em;
    align-items: center;
    margin-top: 1vh;
    padding: 0.5vh 1.4vh 0.25em;
    overflow: clip;

    .keyHelpers {
      &>div {
        height: 2vh;
        min-width: 2vh;
        width: fit-content;
        text-align: center;
        line-height: 1.85vh;
        font-size: 1.7vh;
        font-family: monospace;
        font-weight: 700;
        top: 0.55vh;
        background-color: white;
        color: black;
        border-radius: 0.1vh;
        opacity: 0.25;
        text-transform: uppercase;
      }

      &.index-0>div {
        line-height: 1.5vh;
        font-family: fantasy;
        padding: 0 0.3vh;
      }

      .left {
        &.qwerty {
          line-height: 1.575vh;
        }
      }
    }
  }
}