@font-face {
    font-family: "Crock";
    src: url('/assets/fonts/crock.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/Hapna.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/HapnaMedium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/HapnaDemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/HapnaBold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/HapnaExtraBold.ttf") format("truetype");
    font-weight: 800;
  }
  @font-face {
    font-family: "Hapna";
    src: url("/assets/fonts/HapnaLight.ttf") format("truetype");
    font-weight: 300;
  }